@model ToDoList.Models.TaskListViewModel
<div class="modal" tabindex="-1" id="modalAddList">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить список задач</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form method="post" asp-controller="TaskList" asp-action="AddTaskList">
                <div class="modal-body">
                    <br />
                    <label asp-for="Title"></label><br />
                    <input asp-for="Title" type="text" class="form-control" name="Title" /><br />
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Добавить" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>